.country-box{
    transition: all .2s;
}

.country-box:hover{
    transform: scale(1.03);
    box-shadow: 2px 12px 15px #999;
}

.navLinks::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: 0;
    background-color: orange;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.navLinks:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

